@import url('https://fonts.googleapis.com/css?family=Yeseva+One|Be+Vietnam:300,300i,500&display=swap');

body {
	color: #2B412F;
	background-color: #FFF;
}

/* Section structure */

	/* Hero */ 

		.hero-container {
			display: flex;
			flex-wrap: wrap;
			min-height: 100%;
			justify-content: center;
		}

		.hero-content {
			flex: 1;
			margin: 24px 48px;
			display: flex;
			flex-direction: column;
		}

		.hero-left {
			text-align: left;
			justify-content: center;
		}

		.hero-right {
			justify-content: flex-end;
			min-width: 350px;
		}

		.navigation-container {
			display: flex;
		}

		.navigation-item {
			margin-bottom: 18px;
		}

		/* Mobile */
			@media only screen and (max-width: 1050px) {
				.hero-content {
					margin: 48px;
					flex: auto;
				}

				.hero-right {
						justify-content: flex-start;
						min-width: auto;
					}
			}
			@media only screen and (max-width: 800px) {

				.navigation-container {
					flex-direction: column;
				}

			}

			@media only screen and (max-width: 600px) {
				.hero-content {
					margin: 24px;
				}
			}

	/* Education */

		.education-container {
			margin-left: 20%;
			margin-top: 96px;
		}

		/* Mobile */
			@media only screen and (max-width: 900px) {
				.education-container {
					margin: 48px 24px;
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}

			@media only screen and (max-width: 600px) {
				.education-container {
					display: block;
				}
			}

	/* Work */

		.work-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 144px;
		}

		.work-header {
			text-align: center;
		}

		.work-item {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 72px;
		}

		.work-identifiers {
			margin-right: 64px;
		}

		/* Mobile */
			@media only screen and (max-width: 800px) {
				.work-container {
					align-items: flex-start;
					margin: 24px 24px 48px 24px;
				}

				.work-header {
					text-align: left;
				}

				.work-item {
					margin-bottom: 24px;
				}
			}

	/* Teaching */

		.teaching-container {
			display: flex;
			flex-wrap: wrap;
			width: 70%;
			justify-content: space-between;
			margin: 96px auto;
		}

		.teaching-header {
			width: 70%;
		}

		.teaching-item {
			margin-bottom: 24px;
		}

		/* Mobile */

			@media only screen and (max-width: 1000px) {
				.teaching-container {
					width: auto;
					margin: 48px 24px;
				}

			}


	/* Footer */

		.footer {
			margin-top: 20%;
			padding: 18px;
			text-align: center;
		}

/* Typography */

	/* Headers */

		h1 {

			font-family: 'Yeseva One', serif;
			font-size: 100px;
			line-height: 115px;
			letter-spacing: 2px;
			font-weight: 400;
			margin-bottom: 24px;
		}	

		h2 {
			font-family: 'Yeseva One', serif;
			font-size: 72px;
			line-height: 72px;
			letter-spacing: 2px;
			font-weight: 400;
			margin: 0px 0px 56px 0px;
		}


		h3 {
			font-family: 'Be Vietnam', sans-serif;
			font-size: 14px;
			line-height: 28px;
			margin-bottom: 32px;
			max-width: 275px;
		}

		/* Mobile */

			@media only screen and (max-width: 800px) {
				h1 {
					font-size: 72px;
					line-height: 80px;
				}

				h2 {
					font-size: 48px;
					line-height: 48px;
				}
			}

			@media only screen and (max-width: 500px) {
				h1 {
					font-size: 48px;
					line-height: 56px;
				}
			}

	/* Paragraphs */

		p {
			font-family: 'Be Vietnam', sans-serif;
			font-weight: 300;
		}

			p.subtitle {
				font-size: 16px;
				line-height: 38px;
				max-width: 400px;
			}

			p.body-paragraph {
				font-size: 14px;
				line-height: 28px;
				max-width: 350px;
				margin-bottom: 32px;
			}

			p.footer-paragraph {
				font-size: 12px;
				line-height: 20px;
				margin: 0px;
			}

	/* Links */

		a:link, a:visited {
			font-family: 'Be Vietnam', sans-serif;
			text-decoration: none;
			font-weight: 500;
			display: inline-block;
			color: #2B412F;
		}

			a.navigation {
				margin-right: 36px;
			}

		a:link::after, a:visited::after {
		    display:block;
		    content: '';
		    border-bottom: 3px solid; 
		    height: 6px; 
		    transform: scaleX(0.3);
		    transition: transform 250ms ease-in-out;
		    transform-origin: 0% 50%;
		}

		a:hover, a:active {
			background-color: #FFE6A1;
		}

		a:hover::after {
		    transform: scaleX(1);
		    transform-origin: 0% 50%;
		}

			a.footer-link::after {
				border: none;
				height: 0px;
			}